body{
    background-color: #000000;
    overflow-y: scroll;
}

.headr{
    padding-bottom: 10px;
}

.project-wrap{

    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    color: white;
    max-width: 1252.25px;
    margin: 0 auto;

}

.dark-nav a{
    color: white !important;
}

.text-proj{
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.text-proj h1{
    font-size: 50px;
}

.text-proj h3{
    color: gray;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.pro-row{
    display: flex;
    margin-bottom: 40px;
    border-radius: 10px;
}

.pro-card{
    background-color:#1d1d1f;
    width: 50%;
    border-radius: 10px;
}

.button-div{
    background-color:grey;
}

.pro-card img{
    width: 70px;
    margin-bottom: 10px;
}

.text-card{
    padding: 50px;
}

.text-card h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.cards-wrap{
    width: 75.0%;
    margin: 0 auto;
}

.full-card{
    width: 100%;
    background-color:#1d1d1f;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    margin-bottom: 50px;
}

.full-card img{
    width: 450px;
    max-height:264px;
}

.full-card .text-card{
    padding: 10px;
}

.footr{
    background-color:#1d1d1f;
}


.pc-i{
    margin-right: 20px;
}

.pc-ii{
    margin-left: 20px;
}